@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
     -moz-box-shadow: $shadows;
          box-shadow: $shadows;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
     -moz-box-sizing: $sizing;
      -ms-box-sizing: $sizing;
          box-sizing: $sizing;
}

@mixin gradient($from, $to) {
  background: $from; // Old browsers
  background: -moz-linear-gradient(top,  $from 0%, $to 100%); // FF3.6+
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to)); // Chrome,Safari4+
  background: -webkit-linear-gradient(top,  $from 0%,$to 100%); // Chrome10+,Safari5.1+
  background: -o-linear-gradient(top,  $from 0%,$to 100%); // Opera 11.10+
  background: -ms-linear-gradient(top,  $from 0%,$to 100%); // IE10+
  background: linear-gradient(to bottom,  $from 0%,$to 100%); // W3C
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='#ffffff',GradientType=0 ); // IE6-9
}

@mixin clearfix {
 // For modern browsers
  &:before, &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

  // For IE 6/7 (trigger hasLayout)
  & {
    zoom: 1;
  }
}


.tms-control {
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  width: 400px;

  a {
    text-decoration: none;
  }
  
  &.open {
    
    .tms-dropdown {
      @include box-shadow(inset 0 0 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.18));
      background: #dfebf5;
    }
    
    .tms-popover {
      display: block;
    }
  }
  
  .tms-dropdown {
    @include border-radius(3px);
    @include box-sizing(border-box);
    @include gradient(#ffffff, #e9f2f8);
    @include box-shadow(0 1px 2px rgba(0,0,0,0.18));
    display: block;
    position: relative;
    padding: 12px 45px 12px 15px;
    width: 100%;
    font-weight: 700;
    border: 1px solid #bfbfbf;
    border-bottom-color: #9c9c9c;
    color: #444;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      position: absolute;
      margin: -3px 0 0 0;
      top: 50%;
      right: 12px;
      width: 0;
      height: 0;
      border-top: 6px solid #999; // #003550;
      border-bottom: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
  }
  
  .tms-popover {
    @include box-sizing(border-box);
    @include box-shadow(0 1px 6px rgba(0,0,0,0.24));
    @include border-radius(3px);
    display: none;
    position: absolute;
    padding: 0 0 10px 0;
    right: 0;
    width: 100%;
    max-height: 400px;
    border: 1px solid #c0c0c0;
    border-bottom-color: #9c9c9c;
    background-color: #fff;
    background-color: rgba(255,255,255,0.95);
    z-index: 1000;
    cursor: auto;
    overflow-y: auto;
  }

  &.open .tms-popover {
    display: block;
  }

  ul.tms-options {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

    li {
      padding: 12px 15px;
      border-bottom: 1px solid #e0e0e0;
      position: relative;

      &.selected {
        background-color: #fafafa;
      }

      .tms-input {
        position: absolute;
        top: 13px;
        left: 15px;
      }

      .tms-title {
        display: block;
        font-size: 14px;
        line-height: 20px;
        font-weight: bold;
        color: #444;
        margin-left: 25px;
      }

      .tms-description {
        display: block;
        padding-top: 4px;
        font-size: 13px;
        font-weight: normal;
        color: #888;
        margin-left: 25px;
      }
    }
  }
}